.library-container {
    text-align: center;
    padding: 20px;
}

.search-bar {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.pose-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    padding: 20px;
}

.pose-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pose-card img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.pose-card h3 {
    color: #be319b;
    margin: 10px 0;
}

/* 
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 21px;
}

.grid-items{
    display: block;
    justify-items: center;
    text-align: center;
    margin: 2px;
    height: 350px;
    border-radius: 3px;
}
.grid-button{
    border: 0cap;
    transform: translateY(-3px);
    background: linear-gradient(90deg, #feb47b,#e8dce5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
} */



        